@import "tailwindcss";

@theme {
  --font-inter: "Inter", "sans-serif";
  --font-karla: "Karla", "sans-serif";
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #0b2434;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
